h2{
    text-align: center;
}

.list-movies{
    display: flex;
}

.list-movies-item{
    box-shadow: 2px 1px 8px 5px grey;
    display: flex;
    border: solid 2px;
    height: 100%;
    border-radius: 15px;
    padding: 10px;
    margin: 15px;
}

.list-movies-item img {
    border-radius: 15px;
    width: 100%;
}
.movies-item-wrap {
    padding: 15px 0;
}
.list-movies-item .title {
    font-weight: bold;
    font-size: 30px;
}

